/*DOM Elements*/
body{
	font-family: 'Quicksand', sans-serif;
}
/*Classes*/
.active{
	color: red;

}
.logo{
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 99;
}
.btn-floating{
	position: absolute;
	bottom: 20px;
	left: 20px;
	z-index: 99;

}
.headrow{
	margin: 0;
}
/*ID's*/
#sideBar, #map{
	height: 95vh;
}
#title{
	font-family: 'Princess Sofia', cursive;
}

#zip-search{
	height: 50px;
	width: 50px;
}

.lists{
	padding-left: 20px;
}
