/*DOM Elements*/
body{
	font-family: 'Quicksand', sans-serif;
}
/*Classes*/

.logo{
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 99;
}
.btn-floating{
	position: absolute;
	bottom: 20px;
	left: 20px;
	z-index: 99;

}
.headrow{
	margin: 0;
}

.lists{
	padding-left: 20px;
}

.location-btn{
	margin-top: 20px;

}

.rest-img{
	display: block;
	margin: auto;
}

.rest-name{
	margin-top: 10px;
	margin-bottom: 10px;
}

/*ID's*/
#sideBar, #map{
	height: 95vh;
}
#title{
	font-family: 'Princess Sofia', cursive;
}

#zip-search{
	height: 50px;
	width: 50px;
}

